<div class="card w-100 mt-2 bg-secondary" style="position: fixed; left: 0; bottom: 0; width: 100%">
  <div class="card-header">
    <p>&#169; All Rights Reserved</p>
    <footer class="blockquote-footer text-white">
      <cite title="Source Title">Abhishek Pandey</cite>
    </footer>
  </div>
</div>